<div class="container drop-zone" appDropZone (fileDrop)="filesDropped($event)">
  @if(keys.length == 0 || locales.length == 0) {
  <div class="drag-files-mesage">Drag & drop files here</div>
  } @else {
  <div class="matrix-wrapper">
    <table class="matrix">
      <thead>
        <tr>
          <th>Key</th>
          @for (locale of locales; track locale) {
          <th (click)="downloadDocs(locale)">{{ locale }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (key of keys; track key.id) {
        <ng-container
          [ngTemplateOutlet]="row"
          [ngTemplateOutletContext]="{ key: key }"
        ></ng-container>
        }
      </tbody>
    </table>
  </div>
  }

  <div class="drop-files-mesage">Drop files here...</div>
</div>

<ng-template #row let-key="key" let-parentPrefix="parentPrefix">
  @if(key && key.children) {
  <tr>
    <td [attr.colspan]="locales.length + 1" class="matrix-section">
      <div style="display: inline-flex; left: 21px">+ {{ key.id }}</div>
    </td>
  </tr>
  @for(childKey of key.children; track childKey.id) {
  <ng-container
    [ngTemplateOutlet]="row"
    [ngTemplateOutletContext]="{
      key: childKey,
      parentPrefix: parentPrefix == null ? key.id + '.' : parentPrefix
    }"
  ></ng-container>
  } } @if(key && !key.children) {
  <tr>
    <th>{{ key.id }}</th>
    @for (locale of locales; track locale) {
    <td>
      @if(translations[locale][parentPrefix + key.id]?.e) {
      <div class="grow-wrap">
        <textarea
          type="text"
          [(ngModel)]="translations[locale][parentPrefix + key.id].v"
          (input)="resizeTextarea($event)"
          (blur)="exitEditMode(locale, parentPrefix + key.id)"
        >
        </textarea>
      </div>
      
      } @else {
      <div class="text" (click)="editMode(locale, parentPrefix + key.id)">
        {{ translations[locale][parentPrefix + key.id]?.v }}
      </div>
      }
    </td>
    }
  </tr>

  }
</ng-template>
