<div class="container">
  @if(keys.length == 0 || locales.length == 0) {
    <div>

    </div>
  }
  @else {
    <div class="matrix-wrapper">
      <table class="matrix">
        <thead>
          <tr>
            <th>Key</th>
            @for (locale of locales; track locale) {
              <th>{{ locale }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (key of keys; track key.id) {
            <ng-container [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{key: key}"></ng-container>
          }
        </tbody>
      </table>
    </div>
  }
  
</div>

<ng-template #row let-key="key">
  @if(key && key.children) {
    <tr>
      <td [attr.colspan]="locales.length + 1" class="matrix-section">
        <div style="display: inline-flex; left: 21px;">+ {{ key.id }}</div>
      </td>
    </tr>
    @for(childKey of key.children; track childKey.id) {
      <ng-container [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{key: childKey}"></ng-container>
    }
  } 
  @if(key && !key.children) {
    <tr>
      <th>{{ key.id }}</th>
      @for (locale of locales; track locale) {
        <td></td>
      }
    </tr>
    
  } 

  
</ng-template>