$header-height: 40px;
$row-height-default: 40px;

header {
  display: flex;
  align-items: center;
  max-height: 40px;
  height: 40px;
  margin: 0;
  background-color: aqua;
}

main {
  overflow: hidden;
}

.matrix-wrapper {
  width: 100vw;
  max-width: 100vw;
  overflow: auto;
  max-height: calc(100vh - $header-height);
  overflow: auto;
  position: relative;
}

.matrix {
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  &-section {
    position: sticky;
    top: $row-height-default;
    background-color: blueviolet;
    z-index: 3;

    & > div {
      position: sticky;
      left: 0;
    }
  }
  td, th {
    border: 1px solid black;
    padding: 0.8rem 1.2rem;
    height: $row-height-default;
    min-width: 200px;
  }

  thead {
    th {
      padding: 3px;
      position: sticky;
      top: 0;
      z-index: 1;
      width: 25vw;
      background: white;

      &:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
      }
    }
  } 

  tbody {
    th {
      position: sticky;
      left: 0;
      background: white;
      z-index: 1;
    }
  }
}