$header-height: 50px;
$border-radius-default: 8px;

$border-color-default: #eee;
$border-color-focus: #beb0b0;

$background-light-gray: #fafafa;
$primary-color: #9600bf;
$primary-color-opacity: #9600bfcc;

$bg-btn-cancel: #cb6069;
$bg-btn-disabled: #a8a8a8;

$title-color: #333333;
$label-color: #555555;
