$header-height: 40px;
$border-radius-default: 8px;

$border-color-default: #eee;
$border-color-focus: #beb0b0;

$background-light-grey: #fafafa;
$primary-color: #9600bf;
$bg-btn-cancel: #cb6069;

$title-color: #333333;
$label-color: #555555;
