@use "../../../styles/settings";
@use "../../../styles/buttons";

main {
  margin-top: settings.$header-height;
  padding: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  li {
    max-width: 360px;
    width: 100%;
    border: solid 1px settings.$border-color-default;
    border-radius: settings.$border-radius-default;
    background-color: settings.$background-light-gray;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: box-shadow 0.3s ease-in-out;
    }

    .tile {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      padding: 15px;
      width: 100%;

      .project-name {
        font-size: 1.25rem;
        font-weight: 700;
        color: settings.$title-color;
        text-transform: uppercase;
      }

      .project-id {
        font-size: 0.75rem;
        color: settings.$label-color;
      }

      .date-option {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 0px 0px;

        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 80%;
          width: 100%;

          span {
            font-size: 0.75rem;
            color: settings.$label-color;
          }
        }
      }
    }
  }

  .new {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      width: 100%;
      height: 100%;

      .material-icons {
        font-size: 4rem;
        color: settings.$label-color;
      }
    }
  }
}
