<main>
  <ul class="teams">
    @if (userInfo && userInfo.teams) { @for (team of userInfo.teams; track
    team.teamId) {
    <li>
      <a class="tile" [routerLink]="['/']">
        <p class="team-name">{{ team.teamName }}</p>
        <span class="team-id">(ID: {{ team.teamId }})</span>

        <div class="user-card">
          <p>
            FirstName: <span>{{ userInfo.firstName }}</span>
          </p>
          <p>
            LastName: <span>{{ userInfo.lastName }}</span>
          </p>
          <span class="user-id">(ID: {{ userInfo.userId }})</span>
          <p>
            Email: <span>{{ userInfo.userEmail }}</span>
          </p>
        </div>

        <button class="btn-delete" (click)="deleteTeam($event)">
          <span class="material-icons">delete</span>
        </button>
      </a>
    </li>
    }}

    <li class="new">
      <a>
        <span class="material-icons">add</span>
      </a>
    </li>
  </ul>
</main>
