@import "../../styles/settings";

:host {
  height: 100vh;
}

header {
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  max-height: $header-height;
  height: $header-height;
  margin: 0;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: solid 1px $border-color-default;
  font-size: 1.5em;
}

main {
  margin-top: $header-height;
  height: calc(100vh - $header-height);
  background-color: $background-light-grey;
}

.team-user {
  position: absolute;
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  top: 0;
  right: 0;
  height: $header-height;
}